
/* GENERAL */

section{
padding:100px 0;
}

.section-title{
text-align:center;
margin-bottom:70px;
}

.section-title h2{
font-size:50px;
margin-bottom:15px;
color:#0b4a6f;
}

.section-title p{
font-size:19px;
color:#475569;
line-height:1.8;
}
